<!doctype html>
<html lang="en">
<head>

    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  -->
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/css/bootstrap.css" rel="stylesheet">


<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">AskMePlease</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto" style="margin-left: 20px;">
                <li class="nav-item active">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">ASK!</button>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <img src="../static/img/kotik.jpg" alt="" class="header-image">
                <div class="d-flex flex-column">
                    <div class = "text-light">User name</div>
                    <div><a href="" style="margin-right: 10px;">Settings</a><a href="">Log out</a></div>
                </div>
            </form>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="row" style="margin-bottom: 80px; margin-top: 20px;">
        <div class="col-8">
            <h1>Questions</h1>

            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/kotik.jpg" alt="" class="question-image">
                    <div class="likes-container">
                        <div class="likes-count">5</div>
                        <button type="button" class="btn btn-primary like-button">+</button>
                        <button type="button" class="btn btn-danger like-button">-</button>
                    </div>
                </div>
                <div class="col-9">
                    <div class="question-title"><a href=""> First question.</a></div>
                    <div class="question-text">Lorem Ipsum is dummy text often used in printing and web design. Lorem
                        Ipsum has been the industry's standard dummy text ever since the early 16th century. An unnamed
                        printer at the time created a large collection of type sizes and shapes using Lorem Ipsum to
                        produce type specimens. Lorem Ipsum has not only successfully survived five centuries without
                        noticeable change, but has also entered electronic design. It was popularized in modern times by
                        the publication of Letraset sheets containing Lorem Ipsum sample sheets in the 1960s, and, more
                        recently, by electronic typesetting programs like Aldus PageMaker which use Lorem Ipsum in their
                        templates.
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="question-text col-3"><a href="">answer (3)</a></div>
                        <div class="question-text col-9">Tags: <a href="">facilisis</a> <a href="">facilisis</a>
                            <a href="">facilisis</a></div>
                    </div>
                </div>
            </div>

            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/kotik.jpg" alt="" class="question-image">
                    <div class="likes-container">
                        <div class="likes-count">5</div>
                        <button type="button" class="btn btn-primary like-button">+</button>
                        <button type="button" class="btn btn-danger like-button">-</button>
                    </div>
                </div>
                <div class="col-9">
                    <div class="question-title"><a href=""> First question.</a></div>
                    <div class="question-text">Lorem Ipsum is dummy text often used in printing and web design. Lorem
                        Ipsum has been the industry's standard dummy text ever since the early 16th century. An unnamed
                        printer at the time created a large collection of type sizes and shapes using Lorem Ipsum to
                        produce type specimens. Lorem Ipsum has not only successfully survived five centuries without
                        noticeable change, but has also entered electronic design. It was popularized in modern times by
                        the publication of Letraset sheets containing Lorem Ipsum sample sheets in the 1960s, and, more
                        recently, by electronic typesetting programs like Aldus PageMaker which use Lorem Ipsum in their
                        templates.
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="question-text col-3"><a href="">answer (3)</a></div>
                        <div class="question-text col-9">Tags: <a href="">facilisis</a> <a href="">facilisis</a>
                            <a href="">facilisis</a></div>
                    </div>
                </div>
            </div>

            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/kotik.jpg" alt="" class="question-image">
                    <div class="likes-container">
                        <div class="likes-count">5</div>
                        <button type="button" class="btn btn-primary like-button">+</button>
                        <button type="button" class="btn btn-danger like-button">-</button>
                    </div>
                </div>
                <div class="col-9">
                    <div class="question-title"><a href=""> First question.</a></div>
                    <div class="question-text">Lorem Ipsum is dummy text often used in printing and web design. Lorem
                        Ipsum has been the industry's standard dummy text ever since the early 16th century. An unnamed
                        printer at the time created a large collection of type sizes and shapes using Lorem Ipsum to
                        produce type specimens. Lorem Ipsum has not only successfully survived five centuries without
                        noticeable change, but has also entered electronic design. It was popularized in modern times by
                        the publication of Letraset sheets containing Lorem Ipsum sample sheets in the 1960s, and, more
                        recently, by electronic typesetting programs like Aldus PageMaker which use Lorem Ipsum in their
                        templates.
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="question-text col-3"><a href="">answer (3)</a></div>
                        <div class="question-text col-9">Tags: <a href="">facilisis</a> <a href="">facilisis</a>
                            <a href="">facilisis</a></div>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px; text-align: center;">
                <button type="button" class="btn btn-light">Previous</button>
                <button type="button" class="btn btn-light">1</button>
                <button type="button" class="btn btn-light">Next</button>
            </div>
        </div>
        <div class="col-4">
            <div class="row" style="margin-left: 15px;">
                <div class="col-12">
                    <h2>Popular tags</h2>
                </div>
                <div class="tags" style="margin-left: 15px;">
                    <span class="badge badge-primary">Python</span>
                    <span class="badge badge-secondary">CSS</span>
                    <span class="badge badge-success">Voloshin</span>
                    <span class="badge badge-danger">Django</span>
                    <span class="badge badge-dark">Vk</span>
                </div>
                <br/>
                <div class="col-12">
                    <h2>Best members</h2>
                </div>

                <ul class="list-group" style="margin-left: 15px;">
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>