<!doctype html>
<html lang="en">
<head>

    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  -->
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/css/bootstrap.css" rel="stylesheet">


<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">AskMePlease</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto" style="margin-left: 20px;">
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <div><a href="" style="margin-right: 20px;">Settings</a><a href="">Log out</a></div>
            </form>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="row" style="margin-bottom: 80px; margin-top: 20px;">
        <div class="col-8">
            <h1>Registration</h1>
            <div class="text-danger">Sorry, this email address already registred!</div>
            <form style="margin-top: 30px;">
                <div class="form-group row">
                    <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control col-md-6" id="inputLogin" placeholder="Enter your login"
                               maxlength="15">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control col-md-6" id="inputEmail" placeholder="Enter your Email"
                               maxlength="20">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control col-md-6" id="inputNickName"
                               placeholder="Enter your nick name" maxlength="15">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control col-md-6" id="inputPassword"
                               placeholder="Enter your password here" maxlength="15">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputRepPassword" class="col-sm-2 col-form-label">Repeat password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control col-md-6" id="inputRepPassword"
                               placeholder="Repeat your password here" maxlength="15">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputAvatar" class="col-sm-2 col-form-label">Upload avatar</label>
                    <div class="col-sm-10 row">
                        <div class="col-sm-9 form-inline">
                            <input type="text" class="form-control col-md-6" id="inputAvatar"
                                   placeholder="upload avatar" maxlength="200">
                            <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Choose</button>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <button type="submit" class="btn btn-primary">Register!</button>
                    </div>
                </div>

            </form>


        </div>
        <div class="col-4">
            <div class="row" style="margin-left: 15px;">
                <div class="col-12">
                    <h2>Popular tags</h2>
                </div>
                <div class="tags" style="margin-left: 15px;">
                    <span class="badge badge-primary">Python</span>
                    <span class="badge badge-secondary">CSS</span>
                    <span class="badge badge-success">Voloshin</span>
                    <span class="badge badge-danger">Django</span>
                    <span class="badge badge-dark">Vk</span>
                </div>
                <br/>
                <div class="col-12">
                    <h2>Best members</h2>
                </div>

                <ul class="list-group" style="margin-left: 15px;">
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                    <li class="list-group-item"><a href="">facilisis</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>
